$container-width: 1024px;
$container-small: 700px;
$border-radius: 5px;
$box-shadow:  2px 3px 8px #ccc;

// FONTS
$font-bold: 700;
$font-regular: 400;
$font-light: 300;

// COLORS
$color-main: #ffffff;
$text-light: #ffffff;
$text-grey: rgb(127, 127, 127);
$text-dark: #000000;
$text-emphasized: rgb(100, 76, 236);
$emphasized-background: rgb(100, 76, 236);
$dark-bg-item: #192448;