$container-width: 1024px;
$container-small: 700px;
$border-radius: 5px;
$box-shadow:  2px 3px 8px #ccc;

$font-bold: 700;
$font-regular: 400;
$font-light: 300;

$color-main: #ffffff;
$emphasized-background: rgb(100, 76, 236);