.card {
  position: relative;
  padding: 1.5em;
  border-radius: $border-radius;
  background-color: #ffffff;
  box-shadow: $box-shadow;
  margin-top: 1em;
  transition: .2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  .card__image {
    position: absolute;
    padding: .5em;
    border-radius: $border-radius;
    top: -1em;
  }

  .flex-container {
    gap: 0.5em;
  }

  .card__job-name,
  p {
    margin-top: 0.8em;
  }

  .card__job-location {
    margin-top: 2em;
  }
}

.card.dark {
  background-color: $dark-bg-item;
  box-shadow: unset;
}