.card {
    flex-grow: 1;
    position: relative;
    padding: 1.5em;
    background-color: #ffffff;
    border-radius: 8px;

    .card__image {
        position: absolute;
        top: -1em;
    }

    .flex-container {
        gap: .5em;
    }

    .card__job-name,
    p {
        margin-top: .8em;
    }

    .card__job-location {
        margin-top: 2em;
    }
}
