.main-header {
    width: 100%;
    height: 8em;
    background-image: url(/src/assets/images/desktop/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 5em 5em;
    padding-top: 2em;

    .flex-container {
        @include space-between;
    }

    .theme-switch {
        display: flex;
        align-items: center;
        gap: .5em;
    }
}