.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 0.5em;

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-radius: 2em;
    transition: 0.4s;

    &::before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      left: 5px;
      bottom: 3px;
      background-color: rgb(115, 87, 240);
      border-radius: 34px;
      transition: 0.4s;
    }
  }

  input:checked + .slider::before {
    transform: translateX(15px);
  }
}
