.offer {
  .offer__company {
    @include component-settings;
    background-color: $color-main;
    border-radius: $border-radius;
    height: 110px;
    margin-bottom: .5em;
    .offer__company-logo {
      @include center;
      flex: 1;
      background-color: orange;
    }
    .offer__company-info {
    @include space-between;
      flex: 3;
      padding: 2em;

      .offer__company-btn {
        @include button-settings(#eeeeee, rgb(100, 76, 236))
      }
    }
  }

  .offer__details {
    background-color: $color-main;
    border-radius: $border-radius;
    padding: 2.5em;
  }
}
