.search-form {
  @include component-settings;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: $box-shadow;

  .flex-container {
    @include space-between;

    #title {
      flex: 3;
    }

    #location {
      flex: 2;
      border-left: 1px solid rgb(230, 230, 230);
      border-right: 1px solid rgb(230, 230, 230);
    }

    #search {
      flex: 2;
      @include space-between;
      gap: 0.8em;
    }

    .search-form__item {
      @include align-center;
      padding: 0.8em 1em;

      .search-form__btn {
        @include button-settings(rgb(100, 76, 236), #ffffff)
      }

      img {
        margin-right: 1em;
      }

      label {
        cursor: pointer;
      }

      .search-input {
        flex-grow: 1;
        font-size: 1em;
      }

      #checkbox {
        width: 15px;
        height: 15px;
      }
    }
  }
}
